# pycache
__pycache__
*.pyc
# environments
.env
.venv
venv
wenv
env
launch.json
# logs
*.log
log/
# testing/temp/scratch
*.bak
*.bakup
*.old
notes.txt
*bak*
notes*
offsets2.py
test/
test*
temp/
temp*
# dbs
*.db
*.sqlite
*.sql
# build/package
build/
Build/
dist/
lib*/
Release/
temp*/
*.7z
*.c
*.exe
*.exp
*.gz
*.lib
*.manifest
*.obj
*.pkg
*.pyc
*.pyd
*.pyz
*.spec
*.tar
*.toc
*.zip
